.chatview__messagebox {
    width: 100%;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    &__wrapper {
        @include flex-row;
        align-items: center;
        background-color: var(--color-white);
        padding: 0px 10px;
        border-radius: 25px;
    }

    &__inputbox {
        flex: 1;
        margin: 0 5px;
        height: 100%;
        padding: 15px 3px;
    }

    &__iconbox {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-grey-700);
        margin-left: 3px;
        cursor: pointer;
    }
}