.navbar {
    background-color: var(--color-medium-green);

    &__container {
        @include flex-column;
        padding: 8px 8px;
    }

    &__titlebox {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__title {
            font-size: 18px;
            color: var(--color-white);
            font-weight: 400;
            letter-spacing: 0.0855px;
        }

        &__icongroup {
            @include flex-row;

            &__icon {
                @include icon-button;
                margin-left: 6px;
                color: var(--color-white);
                cursor: pointer;
            }
        }
    }

    &__optionsdialog {
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: var(--color-white);
        z-index: 15;
        font-family: inherit;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

        ul {
            list-style-type: none;

            li {
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--color-grey-200);
                }
            }
        }

        &__item {
            font-weight: 300;
            font-size: 15px;
            color: var(--color-grey-800);
        }
    }
}