*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        margin: 0 10px;
    }


    &::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;


        @include respond(tab-port) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background: hsla(0, 0%, 100%, 0.1);

        @include respond(tab-port) {
            display: none;
        }
    }
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Lato", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    font-family: inherit;
    appearance: none;
    outline: none;
    border: none;
}

#root {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--color-grey-100);
}

.copyable-text {
    -webkit-touch-callout: text;
    /* iOS Safari */
    -webkit-user-select: text;
    /* Safari */
    -khtml-user-select: text;
    /* Konqueror HTML */
    -moz-user-select: text;
    /* Old versions of Firefox */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a {
    text-decoration: none;
}

//measured from browser-dev-tools
[device-frame] {
    width: 450px;
    margin: 0 auto;
    height: 768px;
    top: 50px;
    border: 13px solid var(--color-grey-500);
    border-radius: 12px;

    //unset rules on small devices
    @include respond(tab-port) {
        width: 100%;
        height: auto;
        top: 0;
        border: none;
        border-radius: unset;
    }
}

h1,
h2,
h3,
h4,
h4,
h6,
span,
p,
button,
input {
    font-family: inherit;
}