.bg-white {
    background-color: var(--color-white);
}

.h-full {
    height: 100%;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.bg-light-green {
    background-color: var(--color-tea-green);
}

.bg-light-gray {
    background-color: var(--color-grey-100);
}

.bg-blue {
    color: var(--color-picton-blue);
}