.bg-white {
    background-color: var(--color-white);
}

.h-full {
    height: 100%;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}